.alert {
    background-color: var(--color-grey-light-2);
    width: 50rem;
    padding: var(--spacing-large);
    margin: var(--spacing-large) auto;
    border-left: 3px solid var(--color-grey-dark-1);
    font-size: var(--font-small);
}

.alert-primary {
    border-left: 3px solid var(--color-primary-dark-3);
}

.alert-danger {
    border-left: 3px solid var(--color-red);
}

.alert-buttons {
    margin-top: var(--spacing-large);
}
