:root {
    --color-grey-dark-5: #1f2933;
    --color-grey-dark-4: #323f4b;
    --color-grey-dark-3: #3e4c59;
    --color-grey-dark-2: #52606d;
    --color-grey-dark-1: #616e7c;

    --color-grey-light-5: #7b8794;
    --color-grey-light-4: #9aa5b1;
    --color-grey-light-3: #cbd2d9;
    --color-grey-light-2: #e4e7eb;
    --color-grey-light-1: #f5f7fa;

    --color-primary-dark-5: #035388;
    --color-primary-dark-4: #0b69a3;
    --color-primary-dark-3: #127fbf;
    --color-primary-dark-2: #1992d4;
    --color-primary-dark-1: #2bb0ed;

    --color-primary-light-5: #40c3f7;
    --color-primary-light-4: #5ed0fa;
    --color-primary-light-3: #81defd;
    --color-primary-light-2: #b3ecff;
    --color-primary-light-1: #e3f8ff;

    --color-white: #fff;
    --color-green: #3ebd93;
    --color-green-dark: #27ab83;
    --color-red: #ef4e4e;
    --color-red-dark: #e12d39;

    --font-smallest: 1.2rem;
    --font-smaller: 1.4rem;
    --font-small: 1.6rem;
    --font-medium: 1.8rem;
    --font-large: 2rem;
    --font-larger: 2.4rem;
    --font-largest: 3rem;
    --font-xl: 3.6rem;

    --spacing-small: 0.8rem;
    --spacing-medium: 1.6rem;
    --spacing-large: 2.4rem;
    --spacing-larger: 3.2rem;
    --spacing-largest: 4.6rem;
}
